*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("../fonts/SF-Pro-Display-Regular.woff2") format("woff2"), url("../fonts/SF-Pro-Display-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "SF-Pro-Display";
  src: url("../fonts/SF-Pro-Display-Bold.woff2") format("woff2"), url("../fonts/SF-Pro-Display-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "spaceagecyrillic-regular";
  src: url("../fonts/spaceagecyrillic-regular.woff2") format("woff2"), url("../fonts/spaceagecyrillic-regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
body {
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  font-family: "SF-Pro-Display";
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

.button {
  text-transform: uppercase;
  padding: 20px 45px;
  border: 1px solid #fff;
  font-size: 18px;
  line-height: 21px;
  transition: all 0.3s ease;
}
.button:hover {
  color: #cb0e0e;
  border-color: #cb0e0e;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-family: "spaceagecyrillic-regular";
  padding: 100px 0;
  font-size: 48px;
  line-height: 48px;
  font-weight: 400;
  opacity: 0;
  transform: translate(0, 20%);
  transition: all 1s ease;
}
.title.--active {
  transform: translate(0, 0);
  opacity: 1;
}

.header {
  background-image: url(../images/header-bg.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0 30px;
  opacity: 0;
  transform: translate(0px, -20%);
  transition: all 1s ease;
}
.header__top.--active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.header__content {
  max-width: 600px;
  opacity: 0;
  transform: translate(-20%, 0);
  transition: all 1s ease 0.5s;
}
.header__content.--active {
  transform: translate(0, 0);
  opacity: 1;
}
.header__content-title {
  font-family: "spaceagecyrillic-regular";
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  margin-bottom: 20px;
}
.header__content-title span {
  font-size: 110px;
}
.header__content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header__content-text {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 25px;
}
.header__content-btn {
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  border: 1px solid #fff;
  padding: 15px 10px;
  transition: all 0.3s ease;
}
.header__content-btn:hover {
  color: #cb0e0e;
  border-color: #cb0e0e;
}
.header__description {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  margin-top: 40px;
  margin-bottom: 50px;
  opacity: 0;
  transform: translate(20%, 0px);
  transition: all 1s ease 0.8s;
}
.header__description.--active {
  opacity: 1;
  transform: translate(0px, 0px);
}
.header__description-text {
  width: 165px;
  font-size: 14px;
  line-height: 17px;
}

.menu__list {
  display: flex;
  gap: 30px;
}
.menu__item {
  position: relative;
}
.menu__item::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 50%;
  height: 2px;
  width: 0;
  transform: translateX(-50%);
  background-color: white;
  transition: all 0.3s ease;
}
.menu__item:hover::after {
  width: 100%;
}
.menu__link {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  transition: all 0.3s;
}
.menu__link:hover {
  color: #cb0e0e;
}

.phone {
  font-size: 24px;
  line-height: 29px;
  margin-left: auto;
  margin-right: 22px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.phone:hover {
  color: #cb0e0e;
}

.login {
  margin-right: 134px;
}

.about {
  background-image: url(../images/about-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about__item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
  flex-wrap: wrap;
  opacity: 0;
  transform: translate(0, 20%);
  transition: all 1s ease;
}
.about__item.--active {
  transform: translate(0, 0);
  opacity: 1;
}
.about__item:nth-child(3) {
  flex-direction: row-reverse;
}
.about__img {
  max-width: 100%;
}
.about__content {
  max-width: 600px;
}
.about__content-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 5px;
}
.about__content-subtitle {
  color: #036cca;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.about__content-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  gap: 50px;
}
.about__content-text p {
  width: 165px;
}
.about__table {
  margin-bottom: 50px;
}
.about__table-tr {
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
}
.about__table-tr + .about__table-tr {
  font-size: 36px;
  line-height: 43px;
  font-weight: 700;
  text-align: center;
}
.about__table-td {
  padding: 10px 30px 10px 0;
}
.about__table-td span {
  font-size: 14px;
  line-height: 17px;
  display: block;
}
.about__table-caption {
  caption-side: bottom;
  margin-top: 20px;
  margin-left: 20px;
  -moz-text-align-last: left;
       text-align-last: left;
  font-size: 12px;
  line-height: 14px;
}

.how-to {
  background-image: url(../images/how-to-bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  min-height: 100vh;
}
.how-to__wrapper {
  padding-left: 177px;
  opacity: 0;
  transform: translate(0, 20%);
  transition: all 1s ease;
}
.how-to__wrapper.--active {
  transform: translate(0, 0);
  opacity: 1;
}
.how-to__wrapper-circle, .how-to__wrapper-text, .how-to__wrapper-textspan {
  transition: all 0.3s;
  cursor: pointer;
}
.how-to__wrapper-box:hover .how-to__wrapper-circle {
  r: 20;
  fill: #036cca;
}
.how-to__wrapper-box:hover .how-to__wrapper-text {
  font-size: 36px;
  fill: #036cca;
  transform: translateY(5px);
}
.how-to__wrapper-box:hover .how-to__wrapper-textspan {
  font-size: 36px;
  fill: #036cca;
  transform: translateY(-20px);
}

.to-book {
  background-image: url(../images/to-book-bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.to-book__wrapper {
  display: flex;
  justify-content: space-between;
}
.to-book__content {
  display: flex;
  gap: 50px;
  margin-top: 100px;
  font-size: 14px;
  line-height: 17px;
  opacity: 0;
  transform: translate(0, 20%);
  transition: all 1s ease;
}
.to-book__content.--active {
  transform: translate(0, 0);
  opacity: 1;
}
.to-book__content-text {
  width: 165px;
}

.info {
  background-image: url(../images/info-bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}

.special-offer {
  margin-bottom: 40px;
  min-height: 100vh;
}
.special-offer__items {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transform: translate(0, 20%);
  transition: all 1s ease;
}
.special-offer__items.--active {
  transform: translate(0, 0);
  opacity: 1;
}
.special-offer__item {
  width: 500px;
}
.special-offer__item-box {
  border: 1px solid #fff;
  margin-bottom: 25px;
  padding: 40px 75px;
  min-height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.special-offer__item-text {
  width: 236px;
  font-size: 24px;
  line-height: 29px;
  margin: 0 auto;
}
.special-offer__item-text span {
  color: #cb0e0e;
}
.special-offer__item-oldprice {
  text-align: right;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 17px;
  position: relative;
}
.special-offer__item-oldprice::before {
  position: absolute;
  content: "";
  width: 68px;
  height: 0.1px;
  background-color: #cb0e0e;
  transform: rotate(17deg);
  top: 7px;
}
.special-offer__item-newprice {
  font-size: 48px;
  line-height: 57px;
}
.special-offer__item-btn {
  width: 100%;
}

.services {
  margin-bottom: 200px;
}
.services__wrapper {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transform: translate(0, 20%);
  transition: all 1s ease;
}
.services__wrapper.--active {
  transform: translate(0, 0);
  opacity: 1;
}
.services__box-list {
  width: 620px;
  margin-right: 80px;
}
.services__list-title {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 29px;
}
.services__list {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 25px;
  list-style: none;
}
.services__list-item {
  position: relative;
  padding-left: 36px;
}
.services__list-item::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  top: 50%;
  left: 0px;
  transform: translate(0, -50%);
}
.services__description {
  font-size: 12px;
  line-height: 14px;
}
.services__buttons {
  width: 500px;
}
.services__buttons .button {
  width: 100%;
}
.services__buttons .button:first-child {
  margin-bottom: 50px;
  position: relative;
}
.services__buttons .button:first-child::before {
  position: absolute;
  content: "";
  right: 0;
  bottom: 41px;
  background-image: url(../images/services-img.png);
  width: 192px;
  height: 150px;
}

.slider {
  text-align: center;
  opacity: 0;
  transform: translate(0, 20%);
  transition: all 1s ease;
}
.slider.--active {
  transform: translate(0, 0);
  opacity: 1;
}
.slider__wrapper {
  border: 1px solid #fff;
  padding: 100px 0;
  margin-bottom: 50px;
}
.slider__box-img {
  margin: 0 auto;
}
.slider__arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 1;
}
.slider__arrow-left {
  left: 75px;
}
.slider__arrow-right {
  right: 75px;
}
.slider__description {
  font-family: "spaceagecyrillic-regular";
  font-size: 24px;
  line-height: 30px;
}

.contacts {
  padding-bottom: 100px;
  background-color: #010203;
  min-height: 100vh;
}
.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transform: translate(0, 20%);
  transition: all 1s ease;
}
.contacts__wrapper.--active {
  transform: translate(0, 0);
  opacity: 1;
}
.contacts__box {
  width: 500px;
}
.contacts__box-text {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 80px;
}
.contacts__title {
  padding-bottom: 46px;
}
.contacts__form-input {
  background-color: #010203;
  border: none;
  border-bottom: 1px solid #fff;
  width: 100%;
  padding: 20px 0;
  margin-bottom: 40px;
  font-family: "SF-Pro-Display";
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  padding-left: 5px;
}
.contacts__form-input::-moz-placeholder {
  font-family: "SF-Pro-Display";
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}
.contacts__form-input::placeholder {
  font-family: "SF-Pro-Display";
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}
.contacts__form-input:last-of-type {
  margin-bottom: 70px;
}
.contacts__btn {
  width: 100%;
}
.contacts__btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.contacts__btn:disabled:hover {
  border-color: #fff;
  color: white;
}
.contacts__guarantees {
  width: 600px;
}
.contacts__guarantees-text {
  font-size: 24px;
  line-height: 29px;
}
.contacts__guarantees-img {
  margin-left: auto;
  display: block;
}